.match-info{
	background: #363636;
	margin-bottom: 7px;
}
.match-info p, .ladder-main p{
	height: 30px;
	margin: 0;
	padding-top: 6px;
	font-size: 12px;
	font-style: italic;
	color: #fff;
}
.ladder-main{
	padding: 0;
	overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    list-style: none;
}
.ladder-main li{
	width: 150px;
	margin: 0 0 0 15px;
	vertical-align: top;
	display: inline-block;
}
.ladder-main li:last-of-type{
	margin: 0 15px;
}
.ladder-main p {
	margin-bottom: 5px;
	background: #363636;
}
.ladder-box-wrapper{
	padding-left: 0;
}
.border-menu {
	height: 39px;
	position: absolute;
	margin-top: 1px;
	padding: 0 5px 0 10px;
	border: 1px solid #d8d8d8;
}
.border-menu:before {
	content: "";
    position: absolute;
    top: 15px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-top: 5px double #363636;
    border-bottom: 2px solid #363636;
}
.border-menu.hover:before{
	border-top: 5px double #e43f3f;
	border-bottom: 2px solid #e43f3f;
}
.ladder-box{
	margin-bottom: 20px;
}
.ladder-box table, td{
	border: 1px solid #fff;
} 
.ladder-box table{
	width: 90%;
	margin-left: 15px;
	font-size: 12px;
	font-style: italic;
	color: #fff;
}
.ladder-box table tr{
	background: #e43f3f;
}
.ladder-box table tr:nth-of-type(even){
	background: #363636;
}
.ladder-box table tr a{
	text-decoration: none;
	color: #fff;
}
.ladder-box table tr a:hover{
	color: #d8d8d8;
}
.ladder-box table tr.path{
	background: #1182f5;
}
.ladder-box table tr td{
	height: 20px;
	padding-left: 5px;
}
.ladder-box table tr td:nth-of-type(even){
	width: 20px;
}
a:hover{
	text-decoration: none;
}
@media screen and (min-width: 480px){
	.ladder-box table{
		width: 70%;
	}
}
@media screen and (min-width: 640px){
	.ladder-box table{
		width: 60%;
	}
}
@media screen and (min-width: 768px){
	.match-info{
		margin-left: 7px;
	}
	.ladder-main{
		margin-left: 7px;
		border-left: 1px solid #d8d8d8;
		border-right: 1px solid #d8d8d8; 
	}
	.ladder-box table{
		width: 100%;
	}
}
@media screen and (min-width: 1024px){
	.ladder-box table{
		width: 90%;
	}
}
@media screen and (min-width: 1200px){
	.ladder-box table{
		width: 100%;
	}
}