.rules-inner-wrapper{
	padding: 0 0 10px 0;
}
.rules-text-box{
	margin-bottom: 5px;
	background: #f4f4f4;
	border-left: 3px solid #e43f3f;
}
.match-info{
	background: #363636;
	margin-bottom: 7px;
}
.match-info p{
	height: 30px;
	margin: 0;
	padding-top: 6px;
	font-size: 12px;
	font-style: italic;
	color: #fff;
}
@media screen and (min-width: 768px){
	.match-info{
		margin-left: 7px;
	}
	.rules-main{
		margin-left: 7px;
		border-left: 1px solid #d8d8d8;
		border-right: 1px solid #d8d8d8; 
	}
}
@media screen and (min-width: 1200px){
	.rules-main{
		padding: 0 50px;
	}
}